.review-form{
    margin-left: 14%;
    display: flex;
    flex-direction: column;
}
.review form #comment{
    width: 10%;
    height: 40%;
}

.review-form input{
    margin-top: 15px;
   width: 40%;
    height: 100px;
    border-radius: 20px;
   
}

.review-form button{
    width: 50%;
    background-color: #ff385c;
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem ;
    outline: none;
    padding: 0.875rem 1rem;
    border-radius: 50px;
}
.review-form button:hover{
    cursor: pointer;
    opacity: 0.8;
    }

.review-form #star{
    display: flex;
    align-items: center;
    width: 85px;
    height: 40px;
}
.review-form span{
    color: red;
}