.review-box{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;


}

.review-box img{
    width: 2%;
    margin-right: 5px;
}

.comment-user{
    display: flex;
    align-items: center;
   
}
.review-box h5{
    margin-top: 0;
    margin-left: 17%;
    padding: 0;
   
}

.review-box h4{
    margin-left: 14%;
}
.comment-user button{
    background-color: transparent;
    width: 10%;
}
.comment-user img{
    margin-top: 2%;
    width: 5%;
}

