.review-box{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 2px;
}

.review-box:hover{
    box-shadow: 0 2px 5px rgb(0 0 0 / 0.2);
}

.review-box img{
    width: 2%;
    margin-right: 5px;

}
.prof-user-name{
 display: flex;
 align-items: center;
}

.prof-user-name button{
    height: 100px;
}

.comment-user{
    display: flex;
    align-items: center;
   
}
.review-box h5{
    margin-top: 0;
    margin-left: 17%;
    padding: 0;
   
}

.review-box h4{
    margin-top: 0;
    margin-left: 20%;
}
.comment-user button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 3px;
    width: 10%;
    height: 40px;
}
.comment-user img{
    margin-top: 2%;
    width: 5%;
}
.comment-user  span{
margin-right: 30%;
}

