.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.footer-container .left-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}