.main-footer {
    font-family: "Light";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    background-color: white;
    padding-top: 1gem;
    position: sticky;
    bottom: 0;
    width: 100%;
    border: 1px solid lightgray;
  }
  .left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 5%;
  }


  .right-side{
    margin-left: 5%;
  }
  .globe__icon{
    margin-left: 10%;
    display: flex;
    align-items: center;
    width:200px;
    justify-content: space-evenly;
  }
  .globe img{
    margin-right: 20%;
  }
  .center a{
    text-decoration: none;
    color: black;
  }
  .center a:hover{
    cursor: pointer;
    color: red;
  }
  .suppport img{
    margin-left: 10px;
  }