.new-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.new-form{
    background: url('../../images/testing.jpg') no-repeat center center;
    background-position: fixed;
    background-size: cover;
    overflow: hidden;
    height: 1000px; 
    background-attachment: fixed;
    opacity: 0.75;
    width: 1500px;

}
.hello{
  margin-top: 10px;
  background-color: white;
  width: 500px;
  height: 850px;
  margin-left: 32%;
  border-radius: 20px;
}

.create-spot-form{

    display: flex;
    align-items: center;
    flex-direction: column;
}


.create-spot-form input {
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    width: 70%;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    outline: none;
  }
  .create-spot-form input:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
  }

  .create-spot-form textarea{
    padding:10px;
    border-radius:10px;
    margin:10px 0;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 400px;
    height: 100px;
    outline: none;
  }
  .create-spot-form textarea:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.5);
  }
  input, textarea {
    font-family:inherit;
    font-size: inherit;
  }
  .hello button{
    background-color: #ff385c;
    border: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem auto;
    outline: none;
    padding: 0.875rem 1rem;
    border-radius: 50px;
  }
  .hello button:hover{
    cursor: pointer;
    opacity: 0.8;
   
  }

  .hello p{
    color: red
  }

  .hello .form-values{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }