.spot__display {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  transition: transform 3s ease-in 10s;
}

.primary-text {
  display: flex;
  color: grey;
  font-weight: thin(100);
  
}
.secondary-text {
  color: black;
  font-weight: bold;
}
.spot__display {
  margin-left: 7.9%;
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;

  background-color: white;
  padding: 10px;
  column-gap: 60px;
  row-gap: 50px;

}

.spot-image img {
  height: 275px;
  display: block;
  overflow: hidden;
  width: 350px;
  border-radius: 12px;
}

.spot_each_display:hover {
  transform: scale(1.07);
}
.spot-image img:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.price {
  color: black;
}
