.spot-detail-lists{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 14%;
  margin-right: 14%;
}

.spot_name{
  margin-left: 14%;
  margin-right: 14%;
}

.spot-detail-lists img {
  margin-left: 14%;
  margin-right: 14%;
  width: 50%;
  height: 50%;
}

.details_right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.details_right span {
  margin: 10px;
  color: #222222;
}


.details_right #share:hover {
  background-color: #f7f7f7;
  padding: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}
.details_right #save:hover{
  background-color: #f7f7f7;
  padding: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.pot-detail-lists .price-box{
  width: 36%;
  height: 250px;
  border: 1px solid rgb(221,221,211)
}

.spot_detail_img{
  display: flex;
  border-radius: 12px;
  margin-right: 5%;
}
.spot_detail_img img{
  margin-right: 4%;
  border-radius: 30px;
}
.price-box{

  width: 30%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:0 ;
 border: 1px solid rgb(221,221,221) 0 16px 16px;
 border-radius: 10px;
 box-shadow: rgb(0 0 0 / 12%) 0 10px 10px;
  
}

.price-box-content{
  width: 100%;
}

.reserve_btn{
  width: 70%;
  height: 70px;
  padding: 2%;
  border-radius: 10px;
  color: white;
  text-align: center;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  border: none;
  transition: transform 100ms ease-in
  
}

.reserve_btn:hover{
  cursor: pointer;
  transform: scale(1.07);
}
.price-box-content{
  display: flex;
  align-items: center;
  justify-content: space-evenly

}

.arrow-down{
  margin-right: 20px;
}
.arrow-down:hover{
  border-radius: 50%;
  box-shadow: rgba(185, 32, 32, 0.12) 0 16px 16px;

}
.spot_details_description{
  margin-left: 14%;
  border-top: 1px solid rgb(95, 93, 93);
  width: 40%;
}
.spot_reivew_container{
  margin-left: 14%;
  border-top: 1px solid rgb(95, 93, 93);
  width: 40%;
}
.spot_detail-owner{
  margin-left: 14%;
}
.spot_detail-check-in{
  display: flex;
  align-items: center;
  margin-left: 14%;
  border-top: 1px solid rgb(95, 93, 93);
  width: 40%;
}
.spot_detail-check-in-detail{
  margin-left: 10px;
}
.spot_detail-check-in-detail h5{
  margin-top: 0;
}
.spot_detail-check-in-detail p{
  margin-bottom: 0;
}

.spot-detail-check-in-air-cover{
  margin-left: 14%;
  border-top: 1px solid rgb(95, 93, 93);
  width: 40%;
  margin-bottom: 1%;
}
.spot-detail-check-in-air-cover > a{
 color: black;
 
}

.spot-detail-check-in-air-cover img{
  width: 25%;
  margin-top: 4%;
  margin-left: 0;
}
.spot-detail-bedrooms{
  margin-bottom: 40px;
  margin-left: 14%;
  border-top: 1px solid rgb(95, 93, 93);
  width: 40%;
  
}
.number_of_beds{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  
}

.number_of_beds #bed{

  align-items: flex-start;
  margin-left: 2%;  border: 3px solid rgb(221, 221, 221);
  border-radius: 12px ;
  height: 100% ;
  overflow-wrap: break-word ;
  width: 30%;;
  box-sizing: border-box;
}

.number_of_beds #bed p{
 margin-left: 10%;
}
.number_of_beds #bed h5{
  margin-left: 10%;
 }

 .number_of_beds .bed_icon{
  margin-left: 10%;
 }

.amentities{
    margin-left: 14%;
  border-top: 1px solid rgb(95, 93, 93);
  width: 40%;
}

.amentities ul{
  list-style-type: none;
}



.check-in-container{
  width: 70%;
  border: 1px solid black;
  border-radius: 12px;
}
.check-in-container:hover{
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.check-in-out{
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  border-bottom: 2px black;
}

.check-in-out #in{
  width: 50%;
  border-right: 2px solid black;
}

.check-in-out #in h5{
  margin-bottom: 0;
}
.check-in-out #out{
  width: 50%;
}
.check-in-out #out h5{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0;
}
.check-in-out #out span{
  display: flex;
  flex-direction: row-reverse;
}


.check-in-guest{
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
}
.check-in-guest span{
  margin-left: 2%;
}

.guest-option{
  display: flex;
  justify-content: space-between;
}

.price-details{
  margin-top: 20px;
}



/*  booking fees details */

.booking-price-details{
  margin-top: 50px;
}

.booking-price-details span{
  font-size: large;
}

.total-price-per-night{
  display: flex;
  justify-content: space-between;
  width: 480px;
}



.clearning-fee{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 480px;
}
.service-fee{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.total-before-tax{
  font-weight: bold;
  border-top: 1px solid black;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
}