/* TODO Add site wide styles */

@import "@fontsource/noto-sans-jp";

body{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans JP";
}



*{
    font-family: "Noto Sans JP";
    box-sizing: border-box;
}