body {
  font-family: 'Circular Book';
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 24px;
  top: 0;
  background-color: white;
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
 
}

.header > svg {
  object-fit: contain;
  width: 5%;
}

.header__center {
    margin-left: 10%;
  display: inline-flex;
  border-radius: 24px;
  overflow: hidden;
  align-items: center;
  border: 1px solid grey;
}

.header__center > input {
  display: flex;
  justify-content: center;
  border: none;
  width: 250px;
  padding: 10px;
  outline-width: 0;
}
.header__center:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search__icon {
  width: 32px;
  height: 32px;
  background-color: #ff385c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.header button {
  background: transparent;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.header span {
  width: 1px;
  height: 24px;
  background: gray;
}

.header .search__icon .icon {
  color: white;
}

.header__right .grey-hover:hover {
  background-color: #f7f7f7;
}

.header__right_btn {
  border-radius: 22px;
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  color: rgb(34, 34, 34);
}
.header__menu .user {
  height: 65px;
  width: 30px;
  margin-left: 10px;
}
.header__menu img{
  width: 20px
}

.header__menu {
    display: flex;
align-items: center;
justify-content: center;
  border: 1px solid #ddd;
  height: 45px;
  width: 80px;
  border-radius: 30px;
  transition: box-shadow 0.2s ease;
  margin-bottom: 10%;
  background-color: white;
  position: relative;
}

.header__menu .menu__bar {
  margin-bottom: 4%;
  width: 20px;
}

.header__menu:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.dropdown-menu {
  position: fixed;
  top: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
  z-index: 10;
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}

.dropdown-menu.active span {
  width: 24px;
  height: 1px;
  background: gray;
}
.host_your_home {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0.05);
}
.host_your_home button:hover {
  color: rgb(212, 33, 9);
  opacity: 1;
  cursor: pointer;
}

